<div class="max-width">
    <div class="container">
        <div class="div-inner">
            <div class="left"> <span style="font-size:15px;">Innovation at Nokia</span> <br> Pioneering future
                technologies led by the award-winning Nokia Bell Labs
                <div class="butt">
                    <input type="button" value="Discover more">
                </div>
            </div>
            <div class="right"> <img
                    src="https://www.nokia.com/sites/default/files/2024-08/bell-labs-cutout-with-amplifier-960x600.png?height=&width=&resize=1"
                    alt=""></div>
        </div>
        <div class="sub-content1">
            <span style="font-size:15px;">Why Nokia</span><br> We help you realize your digital potential with
            networking technology <br>that provides superior performance, security and seamlessly <br> integrates into
            any ecosystem.
        </div>
        <div class="main-double">
            <div class="man-main">
                <div class="man1"> <img
                        src="https://www.nokia.com/sites/default/files/2024-08/revolutionizing-cloud-connectivity1-1_3_0.jpg?height=720&width=720"
                        alt=""> </div>
                <div class="man-title">
                    <span style="font-size: 15px; padding-bottom: 10px;">Customer success story</span>
                    <br>Revolutionizing
                    cloud connectivity in
                    <br> India with carrier-neutral networks
                    <div class="">
                        <span style="font-size: 15px;">Providing superior performance to meet growing demand for
                            cloud <br> services through a unique, open, cloud-native network platform.
                        </span>
                    </div>
                    <input type="button" value="Discover">
                </div>
            </div>
            <div class="man-main">
                <div class="man-title">
                    <span style="font-size: 15px; padding-bottom: 10px;">Customer success story</span> <br> Driving
                    digital
                    transformation for global <br> manufacturer, Arçelik
                    <div class="">
                        <span style="font-size: 15px;">Delivering high speeds and low latency with private wireless to
                            <br>
                            automate Arçelik’s processes and enhance operational efficiency.
                        </span>
                    </div>
                    <input type="button" value="Discover">
                </div>
                <div class="man1"> <img
                        src="https://www.nokia.com/sites/default/files/2024-08/driving-digital-transaformation-1-1_1.jpg?height=1080&width=1080"
                        alt="">
                </div>
            </div>

        </div>
        <div class="empty-box"></div>
        <div class="butt-content">
            <div class="insight">
                Insights on technology innovation
            </div>
            <div class="insight-butt">
                <input type="button" value="&lt;">
                <input type="button" value="&gt;">
            </div>
            <div class="img7">
                <div class="img71">
                    <div class="">
                        <div class="img1">
                            <img src="https://www.nokia.com/sites/default/files/2024-09/lead-quantum-explained.jpg?height=405&width=405"
                                alt="">
                        </div>
                        <div class="">
                            <a href="#"> Quantum technologies explained </a>
                        </div>
                    </div>
                    <div class="im2">
                        <div>
                            <img src="https://www.nokia.com/sites/default/files/2024-08/videoframe_73383.jpg?height=405&width=405"
                                alt="">
                        </div>
                        <div>
                            <a href="#"> A quantum leap for the network</a>
                        </div>
                    </div>

                    <div class="img3">
                        <div>
                            <img src="https://www.nokia.com/sites/default/files/2024-07/vlcsnap-2024-07-03-10h27m37s461.png?height=405&width=405"
                                alt="">
                        </div>
                        <div>
                            <a href=""> 6G: Not just a another G</a>
                        </div>
                    </div>
                    <div class="img4">
                        <div>
                            <img src="https://www.nokia.com/sites/default/files/2024-06/resrcid41276_gettyimages-1421511938_1920x600.jpg?height=405&width=405"
                                alt="">
                        </div>
                        <div>
                            <a href="">
                                <span style="font-size: 15px;">Seven Nobel Price wins that herald <br> the
                                    future of networks
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="img72">
                    <div class="img5">
                        <div>
                            <img src="https://www.nokia.com/sites/default/files/2024-05/thumbnail-for-online_jumping-lady-header-image_1280x720_0.jpg?height=405&width=405"
                                alt="">
                        </div>
                        <div>
                            <a href=""> a clear road to the quantum internet</a>
                        </div>

                    </div>

                    <div class="img6">
                        <div>
                            <img src="https://www.nokia.com/sites/default/files/2024-07/vlcsnap-2024-07-03-09h23m07s157.png?height=405&width=405"
                                alt="">
                        </div>
                        <div>
                            <a href=""> The future of automobile is networked</a>
                        </div>

                    </div>
                    <div class="img7">
                        <div><img
                                src="https://www.nokia.com/sites/default/files/2024-02/header-image_3.jpg?height=405&width=405"
                                alt=""> <br>
                            <div>
                                <a href="">How cellular networks will help us <br> explore the Moon and Mars</a>
                            </div>

                        </div>

                    </div>
                    <div class="img8">
                        <div>
                            <img src="https://www.nokia.com/sites/default/files/2024-03/know-now-report-405x405.jpg?height=405&width=405"
                                alt="">
                        </div>
                        <div>
                            <a href=""> Know now report</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="exp-our-insght">
            <div class="man-title">
                <input type="button" value="Explore our insights">
            </div>
        </div>
        <div class="Futured-News">
            <div class="Futured-News1">
                Futured News
            </div>
            <div class="Futured-News-butt">
                <input type="button" value="&lt;">
                <input type="button" value="&gt;">
            </div>
        </div>
        <div class="emp-cont">
            This is needed fo fill somthing          
        </div>
        <div class="exp-our-insght">
            <div class="man-title">
                <input type="button" value="See all">
            </div>
        </div>
    </div>
</div>

<div></div>
<div></div>